body {
	font-family: "Lato", sans-serif;
	color: #424551;
	line-height: 1.6;
}

[class*="__container"] {
	max-width: 810px;
	margin: 0 auto;
}

h1 {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	color: #1e212c;
	margin-bottom: 82px;
}

.main {
	padding-top: 25px;
}

.image {
	max-width: 100%;
	margin-bottom: 50px;
}

.text-1,
.text-4 {
	font-family: "Lato";
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
	color: #1e212c;
	margin-bottom: 24px;
}

.text-2 {
	margin-bottom: 44px;
}

.text-3 {
	margin-bottom: 48px;
}

.text-4 {
	padding-left: 60px;
	margin-bottom: 48px;
}

.text-5,
.text-list {
	margin-bottom: 24px;
}

.text-list {
	padding-left: 33px;
}

.text-list .items:not(:last-child) {
	margin-bottom: 4px;
}

.text__container {
	margin-bottom: 60px;
}

/* Практика */

.color {
	padding: 25px;
	height: 200px;
	border-radius: 20px;
	box-shadow: 0 0 10px #000;
	margin-bottom: 50px;
	background-image: linear-gradient(55.95deg, #da9f9d 0%, #f75e05 100%);
}

.image-1 {
	padding: 25px;
	border-radius: 20px;
	box-shadow: 0 0 10px #000;
	margin-bottom: 50px;
	color: green;
	background: url("../img/bg_repeat.jpg");
}

.repeat {
	padding: 25px;
	border-radius: 20px;
	box-shadow: 0 0 10px #000;
	margin-bottom: 50px;
	height: 1170px;
	background: url("../img/bg_repeat.jpg") 270px repeat-y;
	color: black;
	font-weight: 900;
}

.position {
	padding: 25px;
	border-radius: 20px;
	box-shadow: 0 0 10px #000;
	margin-bottom: 50px;
	background: url("../img/bg_repeat.jpg") right bottom repeat-x;
	height: 300px;
	color: #f75e05;
}

.fixed,
.local {
	padding: 25px;
	border-radius: 20px;
	box-shadow: 0 0 10px #000;
	margin-bottom: 50px;
}

.fixed {
	background: url("../img/50x50-icon-0.jpg") 50% fixed no-repeat;
}

.local {
	background: url("../img/50x50-icon-0.jpg") 70px 65px local no-repeat;
}

.size {
	padding: 25px;
	border-radius: 20px;
	box-shadow: 0 0 10px #000;
	margin-bottom: 50px;
	height: 300px;
	background: url("../img/bg_repeat.jpg") 0 0 / 100% no-repeat;
}

.cover {
	padding: 25px;
	border-radius: 20px;
	box-shadow: 0 0 10px #000;
	margin-bottom: 50px;
	background: url("../img/50x50-icon-0.jpg") 50% / cover no-repeat;
}

.universal {
	padding: 25px;
	border-radius: 20px;
	box-shadow: 0 0 10px #000;
	margin-bottom: 50px;
	height: 600px;
	background-c: darkslateblue;
	background: url("../img/50x50-icon-0.jpg") 250px 100px no-repeat, url("../img/bg_repeat.jpg") 180px 250px no-repeat,
		darkslateblue;
}
