@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body {
    font-family: "Lato", sans-serif;
    color: #424551;
    line-height: 1.6;
}

.course {
    margin-bottom: 150px;
}

[class*="__container"] {
    max-width: 1230px;
    margin: 0 auto;
}

.course__about {
    margin-bottom: 100px;
}

.course__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: #1e212c;
    margin-bottom: 40px;
}

.course__text {
    margin-bottom: 48px;
}

.course__list-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.5;
    color: #1e212c;
    margin-bottom: 24px;
}

.course__items li:not(:last-child),
.course__curator-info li:not(:last-child) {
    margin-bottom: 4px;
}

.course__items li::before {
    content: "";
    background: url(../img/icons/Vector.svg) 0 0 no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 16px;
    margin-bottom: -2px;
}

.course__curator {
    margin-bottom: 30px;
}

.course__curator-heading {
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1e212c;
    margin-bottom: 8px;
}

.course__title-cody {
    margin-bottom: 16px;
}

.course__lead {
    font-size: 20px;
    line-height: 1.5;
    color: #787a80;
    margin-bottom: 32px;
}

.course__info {
    margin-bottom: 32px;
}

.course__info li {
    font-weight: 700;
    line-height: 1.6;
}

.course__info li:first-child::before {
    content: "";
    background: url("../img/icons/Star.svg") 0 0 no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 9px -2px 0;
}

.course__info li:nth-child(2)::before {
    content: "";
    background: url("../img/icons/Play.svg") 0 0 no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 9px;
    margin: 0 9px -2px 0;
}

.course__info li:last-child::before {
    content: "";
    background: url("../img/icons/Human.svg") 0 0 no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 9px;
    margin: 0 9px -2px 0;
}


.practice__title {
    border: 3px solid green;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 700;
    padding-left: 25px;
    text-align: center;
}

.practice__title::before {
    content: "";
    background: url("../img/icons/notebook.svg") 0 0 no-repeat;
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 0 20px -14px 0;
}

.practice__title:hover {
    background-image: linear-gradient(to right, #6253e1, #852d91, #a3a1ff, #f24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75) inset;
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
    color: #fff;
    border: 3px solid rgb(4, 82, 4);
}

.practice__list li:not(:last-child) {
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
    counter-reset: item;
}

ul li::before {
    counter-increment: item;
    content: "(" counter(item) "). ";
    color: #f24645;
    font-weight: 900;
    margin-right: 25px;
}

ul ul {
    display: none;
}

ul li:hover ul {
    display: block;
    transition: all 0.3s ease-in-out;
}

a:visited {
    color: red;
}

a:active {
    color: yellow;
}

a:hover {
    text-decoration: underline;
    text-transform: uppercase;
}

.start__container {
    padding: 10px 0 0 10px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75) inset;
    background-color: #6253e1;
    display: block;
}

.start {
    width: 100px;
    height: 100px;
    background-color: #424551;
    text-align: center;
}

.start span {
    font-size: 25px;
    font-weight: 700;
    color: #f24645;
}

[class|="href"]:focus {
    outline: 1px solid red;
}

[class^="game"] {
    visibility: hidden;
}
/* 
.start:hover + .game__block-1{
    visibility: visible;
}

.game__block-1:hover + .game__block-2 {
    visibility: visible;
}

.game__block-2:hover + .game__block-3{
    visibility: visible;
}
.game__block-3:hover + .game__block-4{
    visibility: visible;

}.game__block-4:hover + .game__block-5{
    visibility: visible;
}

.game__block-5:hover + .game__block-6{
    visibility: visible;
} */

.game__block-1 {
    width: 1000px;
    height: 50px;
    margin-left: 100px;
    margin-top: -75px;
    background-color: #852d91;
}

.game__block-2 {
    width: 40px;
    height: 200px;
    margin-top: -50px;
    margin-left: 1100px;
    background-color: #852d91;
}

.game__block-3 {
    width: 650px;
    height: 30px;
    margin-left: 490px;
    background-color: #852d91;
}

.game__block-4 {
    width: 20px;
    height: 200px;
    margin-left: 470px;
    margin-top: -30px;
    background-color: #852d91;
}

.game__block-5 {
    width: 450px;
    height: 15px;
    margin-left: 40px;
    background-color: #852d91;
}

.game__block-6 {
    width: 10px;
    height: 340px;
    margin-left: 40px;
    margin-top: -340px;
    background-color: #852d91;
}

/* .game__block-1:hover {
    visibility: visible;
}

.game__block-2:hover {
    visibility: visible;
}

.game__block-3:hover {
    visibility: visible;
}

.game__block-4:hover {
    visibility: visible;
}

.game__block-5:hover {
    visibility: visible;
}

.game__block-6:hover {
    visibility: visible;
} */

.start:hover + .game__block-1,
[class*="block-"]:hover,
[class*="block-"]:hover + * {
    visibility: visible;
}
